*{
    margin:0px;
    padding:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.whitish{
    color:rgba(255, 255, 255, .8);
}
.navbar{
    position: fixed;
    height:8vh;
    width:100vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgba(22, 22, 23, .8);
}
.navitem{
    font-size:0.9rem;    
}
i{
    font-size:1.1rem;
}
.fa-apple{
    font-size: 1.6rem;
}
.ham{
    display: none;
}
.icons{
    display:flex ;
    justify-content:space-between ;
    flex-grow:0.1;
}
.navitem:hover{
    color:white;
    cursor: pointer;
}
i:hover{
    color:white;
    cursor: pointer;
}
/*Navbar Complete*/
.dummy{
    height:8vh;
}
.hero1{    
    min-height:80vh;
    max-height: fit-content;
    width:100vw;
    background-color: #F5F5F7;
}
.hero1container{
    height:100%;
    margin:auto;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hero1container img{
    max-height:50vh;
    max-width: 80%;
}
.hero1textc>*{
    color:#1D1D1F;
}
.hero1t1{
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
}
.hero1t2{
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
}
.linkshero1{
    width:60%;
    display: flex;
    justify-content: space-around;
}
.linkshero1 a{
    color:rgb(0, 102, 204);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
}
.hero2{
    display: flex;
    flex-direction: column;
    background-color: black;
    height:90vh;
    width:100vw;
}
.hero2container{
    height:100%;
    margin:auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hero2 img{ 
    height:50vh;
    width:75vw;
    align-self:flex-end ;    
}
.linkshero2{    
    width:80vw;
    display: flex;
    justify-content: space-around;    
}
.cont1,.cont2{
    display: flex;
    align-items: center;
    gap:5px;
}
.fa-greater-than{
    margin-top: 5%;
    color:rgb(0, 102, 204);
    font-size:0.87rem;
}
.linkshero2>div>a{
    color:rgb(0, 102, 204);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
}
@media (max-width:833px) {
    .small{
        display: none;
    }
    .ham{
        display: initial;
    }
    .navbar{
        justify-content: space-between;
    }
    .apple{
        margin-left: 10px;
    }
    .icons{
        margin-right:10px;
    }    
}
@media (max-width:360px) {
    .hero1,.hero1container{
        height: fit-content;
    }
    .hero1t1{
        font-size:2.5rem;
    }
    .hero1t2{
        font-size: 1.2rem;
    }    
    .hero2 img{
        width:60vw;
        height:40vh;
    }
}
